<form>
  <md-card>
    <md-card-title>User Sign Up</md-card-title>
    <md-card-content>
      <div class="flex">
        <md-input placeholder="First name" name="first"></md-input>
        <md-input placeholder="Last name" name="last"></md-input>
      </div>
      <md-input placeholder="Username" name="username"></md-input>
      <div class="flex">
        <md-input placeholder="Password" name="password"></md-input>
        <md-input placeholder="Confirm Password" name="confirmPassword"></md-input>
      </div>
      <div>
        <p>Address</p>
        <md-input placeholder="Street" name="street" required></md-input>
        <div class="flex align-center">
          <md-input placeholder="City" name="city" class="flex-three"></md-input>
          <select name="state" class="flex-one">
              <option value="" disabled>Select a state</option>
              <option value="CA">CA</option>
              <option value="NY">NY</option>
            </select>
          <md-input placeholder="zip" type="number" name="zip" class="flex-one"></md-input>
        </div>
      </div>
    </md-card-content>
    <md-card-actions align="end">
      <button md-button color="primary" type="submit">SUBMIT</button>
    </md-card-actions>
  </md-card>
</form>