<form novalidate [formGroup]="myForm">
  <md-card>
    <md-card-title>User Sign Up</md-card-title>
    <md-card-content>
      <p *ngIf="myForm.controls.firstName.hasError('required')">First Name is required!</p>
      <p *ngIf="myForm.controls.firstName.hasError('invalidName')">First name must start with <tt>ABC</tt></p>
      <div class="flex">
        <md-input placeholder="First name" name="first" formControlName="firstName"></md-input>
        <md-input placeholder="Last name" name="last" formControlName="lastName"></md-input>
      </div>
      <md-input placeholder="Username" name="username" formControlName="userName"></md-input>
      <div class="flex">
        <md-input placeholder="Password" name="password" formControlName="password"></md-input>
        <md-input placeholder="Confirm Password" name="confirmPassword" formControlName="confirmPassword"></md-input>
      </div>

      <!--<div formGroupName="address">
        <p>Address</p>
        <md-input placeholder="Street" name="street" formControlName="street"></md-input>
        <div class="flex align-center">
          <md-input placeholder="City" name="city" class="flex-three" formControlName="city"></md-input>
          <select name="state" class="flex-one" formControlName="state">
              <option value="" disabled>Select a state</option>
              <option value="CA">CA</option>
              <option value="NY">NY</option>
            </select>
          <md-input placeholder="zip" type="number" name="zip" class="flex-one" formControlName="zip"></md-input>
        </div>
      </div>-->
      <div formArrayName="address">
        <div *ngFor="let add of address.controls; let i=index" [formGroupName]="i">
          <p>Address</p>
          <md-input placeholder="Street" name="street" formControlName="street"></md-input>
          <div class="flex align-center">
            <md-input placeholder="City" name="city" class="flex-three" formControlName="city"></md-input>
            <select name="state" class="flex-one" formControlName="state">
              <option value="" disabled>Select a state</option>
              <option value="CA">CA</option>
              <option value="NY">NY</option>
            </select>
            <md-input placeholder="zip" type="number" name="zip" class="flex-one" formControlName="zip"></md-input>
          </div>
        </div>
        <button md-button (click)="add()">ADD ADDRESS</button>
      </div>

    </md-card-content>
    <md-card-actions align="end">
      <button md-button color="primary" type="submit">SUBMIT</button>
    </md-card-actions>
  </md-card>
</form>
{{ myForm.value | json }}